---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">

<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>

<body>
	<Header title={SITE_TITLE} />
	<main>
		<h1>Hello guys! 👋</h1>
		<p>
			My name is Pedro Henrique dos Santos, aka Dapedu. I'm a Computer Scienche student at <a
				href="https://www.unb.br/">UNB - Universidade de Brasília</a>. Since I've joined college I have had many
			challenges in the world of programming, but never been able to record something about them. So here we are.
			:)
		</p>
		<p>
			In this blog I intend to talk about my challenges and learnings. Hope you find some of them useful.
		</p>
	</main>
	<Footer />
</body>

</html>